<%- include ('partials/header') -%>

<div class="container mt-5">
  <img class="blog-img" src="<%= blog.image %>">
  <h1 class="mb-5"><%= blog.title %></h1>
  <p class="blog-body"><%- blog.body %></p>
  <hr>
  <div class="row">
    <span class="mb-5 ml-auto">Written by <b><%= author %></b> - <%= blog.date.toDateString() %></span>
  </div>
  <% if(blog.author.username == currentUser.username) {%>
    <div class="row">
      <div class="col-12">
      <form class="inline-form my-5" action="/posts/<%= blog.id %>?_method=DELETE" method="POST">
        <a href="/posts/<%= blog._id %>/edit" class="btn btn-outline-info btn-lg mr-3">Edit</a>
        <button class="btn btn-danger btn-lg " type="submit">Delete</button>
      </form>
      </div>
    </div>
  <% } %> 
  <form action="/posts/<%= blog._id %>/comments" method="POST">
    <div class="form-group">
      <h2>Leave a comment:</h2>
      <textarea class="form-control mb-3" name="comment[text]" placeholder="comment" cols="30" rows="3"></textarea>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
  <div class="row">
    <div class="col-12">
      <h3 class="mb-3">Comments</h3>
    </div>
  </div>
  <% blog.comments.forEach(comment => { %>
  <div class="row">
    <div class="col-12">
      <div class="comment">
        <p class="ml-1"><b><%= comment.author.username %>:</b><p>
        <p class="ml-4"><%= comment.text %></p>
        <% if(comment.author.username == currentUser.username) {%> 
        <form action="/posts/<%= blog.id %>/comments/<%= comment.id %>?_method=DELETE" method="POST" class="text-right">
          <button class="btn btn-outline-danger btn-sm" type="submit">Delete Comment</button>
        </form>
      <% } %> 
      </div>
    </div>
  </div>
  <% }) %>
</div>
<div class="row mt-5">
  <div class="col-12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center mb-5">
    <h4><a href="#">Return to top</a></h4>
  </div>
</div>
<%- include ('partials/footer') -%>